<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <property name="LOG_HOME" value="logs"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <appender name="CONSOLE-LOG" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.sss}] %highlight([%-5p]) [%X{TRACE_ID}] %-50.50logger{50} [%3.4L] %cyan([%t]) %m%n</pattern>
        </layout>
    </appender>
    <appender name="PLUGIN-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.sss}] [%-5p] [%X{TRACE_ID}] %-50.50logger{50} [%3.4L] [%t] %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_HOME}/${appName}-error-%d{yyyyMMdd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="TRACE">
        <appender-ref ref="PLUGIN-LOG"/>
    </root>
</configuration>