<?xml version="1.0" encoding="UTF-8"?>
<plugin id="myplugin" version="1.0.0" name="My Plugin" description="我的插件">

    <activator class=""/>

    <dependencies>
        <dependency id="dependency_plugin1" minVersion="0.0.1" maxVersion="0.0.5"/>
        <dependency id="dependency_plugin2" minVersion="1.0.1" maxVersion="1.0.5"/>
    </dependencies>

    <extension id="111" name="测试" point="aaa.bbb.editor">
        <editor id="myplugin.editors.MultiPageEditor"
                name="Sample Multi-page Editor"
                icon="icons/sample.png"
                extensions="mpe"
                class="myplugin.editors.MultiPageEditor"
                contributorClass="myplugin.editors.MultiPageEditorContributor">
        </editor>
    </extension>
    <extension point="myplugin.wizards.newWizards">
        <category name="Sample Wizards" id="my-plugin"/>
        <wizard
                id="myplugin.wizards.SampleNewWizard"
                name="Multi-page Editor file"
                icon="icons/sample.png"
                class="myplugin.wizards.SampleNewWizard"
                category="my-plugin">
        </wizard>
    </extension>
</plugin>
